docker/node-red/flows.json
[
    {
        "id": "dd6a603da7d0c499",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ceec042f9af8332d",
        "type": "junction",
        "z": "dd6a603da7d0c499",
        "x": 740,
        "y": 420,
        "wires": [
            [
                "78e8d5140436b061",
                "f94baaa9d4aebb27",
                "d75d2ef4e1642c88",
                "3ac5bb62f28b7ec5"
            ]
        ]
    },
    {
        "id": "d164111dbd2d667a",
        "type": "junction",
        "z": "dd6a603da7d0c499",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "e436c25139f0f712",
                "64e03d41b128dc2b",
                "ee2dc0274d7e9df4",
                "abb4f4026b55dde9"
            ]
        ]
    },
    {
        "id": "a37d20f67a485a8c",
        "type": "mqtt-broker",
        "name": "Docker Broker",
        "broker": "MQTT_Broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e436c25139f0f712",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "zumo_0/cmd",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "179a921ea49d8e9a",
        "type": "inject",
        "z": "dd6a603da7d0c499",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "motorcalib",
        "payloadType": "str",
        "x": 620,
        "y": 200,
        "wires": [
            [
                "d164111dbd2d667a"
            ]
        ]
    },
    {
        "id": "78e8d5140436b061",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "zumo_0/motorSpeeds",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 900,
        "y": 360,
        "wires": []
    },
    {
        "id": "8c6a4add746c07f0",
        "type": "inject",
        "z": "dd6a603da7d0c499",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "forward",
        "payloadType": "str",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "ceec042f9af8332d"
            ]
        ]
    },
    {
        "id": "6c051ccccc05511a",
        "type": "inject",
        "z": "dd6a603da7d0c499",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "backward",
        "payloadType": "str",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "ceec042f9af8332d"
            ]
        ]
    },
    {
        "id": "5f8e2320c2283f4e",
        "type": "inject",
        "z": "dd6a603da7d0c499",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "left",
        "payloadType": "str",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "ceec042f9af8332d"
            ]
        ]
    },
    {
        "id": "01d61d84464e798a",
        "type": "inject",
        "z": "dd6a603da7d0c499",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "right",
        "payloadType": "str",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "ceec042f9af8332d"
            ]
        ]
    },
    {
        "id": "68465bd56e26db08",
        "type": "inject",
        "z": "dd6a603da7d0c499",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 630,
        "y": 500,
        "wires": [
            [
                "ceec042f9af8332d"
            ]
        ]
    },
    {
        "id": "64e03d41b128dc2b",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "zumo_1/cmd",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "f94baaa9d4aebb27",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "zumo_1/motorSpeeds",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 900,
        "y": 400,
        "wires": []
    },
    {
        "id": "ee2dc0274d7e9df4",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "zumo_2/cmd",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "abb4f4026b55dde9",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "zumo_3/cmd",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "d75d2ef4e1642c88",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "zumo_2/motorSpeeds",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "3ac5bb62f28b7ec5",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "zumo_3/motorSpeeds",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "012d399ebf20499d",
        "type": "mqtt out",
        "z": "dd6a603da7d0c499",
        "name": "",
        "topic": "test",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a37d20f67a485a8c",
        "x": 1450,
        "y": 200,
        "wires": []
    },
    {
        "id": "3c5311c9e3e1fe21",
        "type": "inject",
        "z": "dd6a603da7d0c499",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "motorcalib",
        "payloadType": "str",
        "x": 1240,
        "y": 200,
        "wires": [
            [
                "012d399ebf20499d"
            ]
        ]
    }
]